{% extends 'dogovor/base.html' %}
{% load static %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 flex-fill">
    <div class="table-responsive mt-4">
        <table class="table table-sm table-striped">
            <tbody  class="{% if not dogovor.active %}redbg{% endif %}">
                <tr>
                    <td>
                        <b>
                            Договор № {{ dogovor.number }}
                        </b>
                        {% if dogovor.active %}
                        (действующий)
                        {% else %}
                        (расторгнут)
                        {% endif %}
                        <a href="/doc1/{{ dogovor.id }}" style="text-decoration: none;">
                            <img src="{% static 'images/word_k.png' %}" height="20px" class="ml-1">
                        </a>
                        <a href="/doc2/{{ dogovor.id }}" style="text-decoration: none;">
                            <img src="{% static 'images/word_h.png' %}" height="20px" class="ml-1">
                        </a>
                        <a href="/doc3/{{ dogovor.id }}" style="text-decoration: none;">
                            <img src="{% static 'images/word_adv1.png' %}" height="20px" class="ml-1">
                        </a>
                        <a href="/doc4/{{ dogovor.id }}" style="text-decoration: none;">
                            <img src="{% static 'images/word_adv2.png' %}" height="20px" class="ml-1">
                        </a>
                        <a href="/doc5/{{ dogovor.id }}" style="text-decoration: none;">
                            <img src="{% static 'images/kvit.png' %}" height="20px" class="ml-1">
                        </a>
                        <a href="/doc6/{{ dogovor.id }}" style="text-decoration: none;" target="_blank">
                            <img src="{% static 'images/kvit.png' %}" height="20px" class="ml-1">
                        </a>
                    </td>
                    <td>
                        <b>
                            {{ dogovor.name }}
                        </b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Дата заключения
                    </td>
                    <td>
                        {{ dogovor.date }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Статус
                    </td>
                    <td>
                        {% if dogovor.fiz %}Физическое лицо
                        {% else %}Юридическое лицо
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Адрес:</td>
                    <td>{{ dogovor.address_city }}, {{ dogovor.address_street }}, д. {{ dogovor.address_house }},
                        {% if dogovor.address_kv %}
                            кв. {{ dogovor.address_kv }},
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Телефон</td>
                    <td>
                        {% if dogovor.tel1 %}{{ dogovor.tel1 }}<br>{% endif %}
                        {% if dogovor.tel2 %}{{ dogovor.tel2 }}<br>{% endif %}
                        {% if dogovor.tel3 %}{{ dogovor.tel3 }}{% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Оборудование
                    </td>
                    <td>
                        {{ dogovor.equip }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Сумма договора
                    </td>
                    <td>
                        {{ dogovor.sum }} руб.
                    </td>
                </tr>
                <tr>
                    <td>
                        Скидка
                    </td>
                    <td>
                        {{ dogovor.discount }} руб.
                    </td>
                </tr>
                <tr>
                    <td>
                        К оплате
                    </td>
                    <td>
                        {{ dogovor.amount }} руб.
                    </td>
                </tr>
                <tr>
                    <td>
                        Примечание:
                    </td>
                    <td>
                        {{ dogovor.comment }}
                    </td>
                </tr>
                <tr class="{% if dogovor.active and dogovor.is_expired %}yellowbg{% endif %}">
                    <td>
                        Действует до
                    </td>
                    <td>
                        {% if dogovor.end_date %} {{ dogovor.end_date }} {% else %} - {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <small class="text-muted">{{ dogovor.created_by }} [{{ dogovor.create_time }}]</small>
                    </td>
                    <td>
                    </td>
                </tr>
                {% if not dogovor.active %}
                <tr>
                    <td><b>Дата расторжения</b></td>
                    <td><b>{% if dogovor.terminate_date %} {{ dogovor.terminate_date }} {% else %} - {% endif %}</b></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <a href="update/" class="btn btn-secondary btn-sm btn-block">Редактировать</a>

    <div class="table-responsive mt-3">
        <table class="table table-sm table-striped">
            <tbody>
                <tr>
                    <td colspan="6" class="text-center">
                        <b>ОПЛАТЫ ПО ДОГОВОРУ</b>
                    </td>
                </tr>
                {% if payments %}
                {% for item in payments %}
                <tr class="{% if item.dolg %}redtext{% endif %}">
                    <td data-toggle="tooltip" title="Создано: {{ item.created_by }} [{{ item.create_time }}]">
                        <b>{{ item.date }}</b>
                    </td>
                    <td>
                        {{ item.amount }} руб.
                    </td>
                    <td>
                        {% if item.pay_type %}НАЛИЧНЫЕ
                        {% else %}БЕЗНАЛ
                        {% endif %}
                    </td>
                    <td>
                        {{ item.pay_place }}
                    </td>
                    <td>
                        {% if item.comment %} <i>{{ item.comment }}</i> {% endif %}
                    </td>
                    <td>
                        <a href="/updatepay/{{ item.id }}" style="text-decoration: none;">
                            <img src="{% static 'images/edit.png' %}" width="18px">
                        </a>
                        <a href="#" style="text-decoration: none;" onclick="delete_payment({{ item.id }});">
                            <img src="{% static 'images/del.png' %}" width="18px">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">
                        <b>Оплат по договору не производилось</b>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <a href="newpay/" class="btn btn-secondary btn-sm btn-block mb-2">Добавить оплату</a>
    </div>


    <div class="table-responsive mt-3">
        <table class="table table-sm table-striped border">
            <tbody>
            <tr>
                <td colspan="7" class="text-center">
                    <b>НАРЯДЫ</b>
                </td>
            </tr>
            {% if orders %}
                {% for item in orders %}
                <tr>
                    <td data-toggle="tooltip" title="Создано: {{ item.created_by }} [{{ item.create_time }}]">
                        <b>{{ item.pk }}</b>
                    </td>
                    <td>
                        {{ item.date }} руб.
                    </td>
                    <td>
                        {{ item.job }}
                    </td>
                    <td>
                        {{ item.worker.name }}
                    </td>
                    <td>
                        {% if item.amount %} <i>{{ item.amount }}</i> {% endif %}
                    </td>
                    <td>
                        {% if item.comment %} <i>{{ item.comment }}</i> {% endif %}
                    </td>
                    <td>
                        <a href="/order/{{ item.id }}" style="text-decoration: none;">
                            <img src="{% static 'images/edit.png' %}" width="18px">
                        </a>
                        <a href="#" style="text-decoration: none;" onclick="orderDel({{ item.id }});">
                            <img src="{% static 'images/del.png' %}" width="18px">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <a href="/neworder/?d={{ dogovor.id }}" class="btn btn-secondary btn-sm btn-block mb-2">Создать наряд</a>
</main>
{% endblock %}

{% block jsblock %}
<script src="{% static 'js/main.js' %}"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
