{% extends 'dogovor/base.html' %}
{% load static %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 flex-fill">

    <div class="row row-cols-1 row-cols-md-3 mb-2 text-center mt-4">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Действующие договора</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ active_count }}<small class="text-muted fw-light">/{{ count }}</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Действующие договора</li>
              <li>(Населенных пунктов: {{ cities_active }})</li>
            </ul>
            <a type="button" class="w-100 btn btn-lg btn-outline-secondary" href="/search/">Поиск договоров</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Заканчивается срок</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ expiring_count }}<small class="text-muted fw-light">/{{ active_count }}</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Заканчиваются через 60 дней</li>
              <li>(Населенных пунктов: {{ cities_expiring }})</li>
            </ul>
            <a type="button" class="w-100 btn btn-lg btn-outline-secondary" href="/address/">Поиск по адресу</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Просроченные</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ expired_count }}<small class="text-muted fw-light">/{{ active_count }}</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Договора, срок действия которых истек</li>
              <li>(Населенных пунктов: {{ cities_expired }})</li>
            </ul>
            <a type="button" class="w-100 btn btn-lg btn-outline-secondary" href="/expired/">Список просроченных</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-2 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Платежи в текущем году</h4>
          </div>
          <div class="card-body">
            <div class="chart">
              <canvas id="paymentsChart" class="chart-canvas" height="60"></canvas>
            </div>
          </div>
          <div class="card-footer">
            В текущем году {{ payments }} платежей
<!--            на сумму {{ amount }} руб.-->
          </div>
        </div>
      </div>
    </div>

</main>
{% endblock %}

{% block jsblock %}
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/chart.min.js' %}"></script>
<script>
var ctx = document.getElementById('paymentsChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        datasets: [{
            label: 'Количество платежей',
            data: [{{ payments_count_month.0 }}, {{ payments_count_month.1 }}, {{ payments_count_month.2 }}, {{ payments_count_month.3 }},
            {{ payments_count_month.4 }}, {{ payments_count_month.5 }}, {{ payments_count_month.6 }}, {{ payments_count_month.7 }}, {{ payments_count_month.8 }},
            {{ payments_count_month.9 }}, {{ payments_count_month.10 }}, {{ payments_count_month.11 }}],
            borderColor: [
                'rgba(180, 180, 180, 1)'
            ],
            borderWidth: 2,
            yAxisID: 'idCount'
        },
<!--        {-->
<!--            label: 'Сумма платежей',-->
<!--            data: [{{ payments_amount_month.0 }}, {{ payments_amount_month.1 }}, {{ payments_amount_month.2 }}, {{ payments_amount_month.3 }},-->
<!--            {{ payments_amount_month.4 }}, {{ payments_amount_month.5 }}, {{ payments_amount_month.6 }}, {{ payments_amount_month.7 }}, {{ payments_amount_month.8 }},-->
<!--            {{ payments_amount_month.9 }}, {{ payments_amount_month.10 }}, {{ payments_amount_month.11 }}],-->
<!--            backgroundColor: [-->
<!--                'rgba(180, 255, 180, 0.6)'-->
<!--            ],-->
<!--            borderColor: [-->
<!--                'rgba(180, 220, 180, 1)'-->
<!--            ],-->
<!--            borderWidth: 2,-->
<!--            yAxisID: 'idAmount'-->
<!--        },-->
        ]
    },
});
</script>
{% endblock %}
