{% extends 'dogovor/base.html' %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 flex-fill">
    <div class="table-responsive mt-4">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>№ договора</th>
                    <th>Ф.И.О.</th>
                    <th>Дата заключения</th>
                    <th>Населенный пункт</th>
                    <th>Дата окончания</th>
                </tr>
            </thead>
            <tbody>

            {% if dogovors %}
                {% for item in dogovors %}
                <tr class="dogtr">
                    <td><a class="doglink" href='{{ item.get_absolute_url }}'>{{ item.number }}</a></td>
                    <td><a class="doglink"  href='{{ item.get_absolute_url }}'>{{ item.name }}</a></td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.address_city }}</td>
                    <td>{{ item.end_date }}</td>
                </tr>
                {% endfor %}
            {% endif %}

            </tbody>
        </table>
    </div>
</main>

{% endblock %}