{% extends 'dogovor/base.html' %}
{% block title %} Оплата по договору {% endblock %}
{% load static %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 flex-fill">
    <div class="container-fluid mt-3 mb-2 border rounded p-3">
        Новая оплата по договору № {{ dogovor.number }} от {{ dogovor.date }} ({{ dogovor.name }})
        <br><hr>
        <form action="{% url 'newpay' dogovor.id %}" method="post">
            {% csrf_token %}
            <div class="row mt-4 mb-2">
                <div class="col-5">
                    <div class="form-group row">
                        <label for="id_date" class="col-3 col-form-label">Дата оплаты:</label>
                        <div class="col-9">
                            <input type="date" name="date" id="id_date" class="form-control" value="" required>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <select name="pay_place" id="id_pay_place" class="form-control selectpicker" data-live-search="true">
                            <option value="в офисе" selected>в офисе</option>
                            <option value="квитанция">квитанция</option>
                            <option value="мастер">мастер</option>
                            <optgroup label="----------"></optgroup>
                            {% for item in workers %}
                                <option value="{{ item.name }}">{{ item.name }}</option>
                            {% endfor %}
                       </select>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-5">
                    <input type="number" name="amount" class='form-control' value="{{ dogovor.amount }}" required id="id_amount" placeholder="Сумма к оплате" required>
                </div>
                <div class="col-2">
                    <div class="form-check mt-2">
                         <input id="id_pay_type" name="pay_type" checked="checked" type="checkbox" class="form-check-input" onchange="pay_type_change();">
                         <label id="pay_type_label" for="id_pay_type" class="form-check-label">Наличные</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-check mt-2">
                         <input id="id_dolg" name="dolg" {% if form.dolg.value %} checked {% endif %} type="checkbox" class="form-check-input">
                         <label id="dolg_label" for="id_dolg" class="form-check-label">Долг</label>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-6">
                    <div class="form-group">
                        <textarea name="comment" maxlength="500" id="id_comment" class="form-control" rows="4" placeholder="Примечание"></textarea>
                    </div>
                </div>
            </div>

            <input hidden name="dogovor_id" id="id_dogovor_id" value="{{ dogovor.id }}">
            <input type="hidden" name="created_by" id="id_created_by" value="{{ user.pk }}">

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-secondary">Внести платеж</button>
                    <button type="reset" class="btn btn-outline-secondary">Очистить</button>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}

{% block jsblock %}
<script src="{% static 'js/main.js' %}"></script>
<script>
let today = new Date().toISOString().substr(0, 10);
$("#id_date").val(today);
</script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
{% endblock %}