{% extends 'dogovor/base.html' %}
{% block title %} Новый платеж {% endblock %}
{% load static %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 flex-fill">
    <div class="container-fluid mt-3 mb-2 border rounded p-4">
        <form action="{% url 'newpay' dogovor_id %}" method="post">
            {% csrf_token %}
            <input hidden name="dogovor_id" id="id_dogovor_id" value="{{ dogovor_id }}">
            <input type="checkbox" name="pay_type" id="id_pay_type">
            <label for="id_date">Дата оплаты:</label> <input type="text" name="date" required id="id_date">
            <label for="id_amount">Сумма:</label> <input type="number" name="amount" required id="id_amount">
            <label for="id_pay_place">Место оплаты:</label>
            <select name="pay_place" id="id_pay_place">
                <option value="в офисе" selected>в офисе</option>
                <option value="обходчику">обходчику</option>
                <option value="на р/счет">на р/счет</option>
            </select>
/*
            Отобразить ОПЛАТА по ДОГОВОРУ (ФИО)  СУММА ПО ДОГОВОРУ - нередактируемые данные (для информации)
            */
            <div class="row mb-2">
                <div class="col-6">
                    <div class="form-group">
                        <textarea name="comment" maxlength="500" id="id_comment" class="form-control" rows="4" placeholder="Примечание"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-secondary">Внести платеж</button>
                    <button type="reset" class="btn btn-outline-secondary">Очистить</button>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}

{% block jsblock %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}