{% extends 'dogovor/base.html' %}
{% block title %} Поиск по адресу{% endblock %}
{% load static %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 flex-fill">
    <div class="mt-3">
        {% if not city %}
            {{ message }}
        {% else %}
            Параметры поиска
        {% endif %}
    </div>
    <form action="{% url 'search_address' %}" method="post">
    {% csrf_token %}
        <div class="form-group mt-3">
            <select id="id_address_city" class="selectpicker" name="address_city" data-live-search="true">
                    {% for item in cities %}
                        <option value="{{ item.address_city }}" {% ifequal item.address_city city %}selected{% endifequal %}>{{ item.address_city }}</option>
                    {% endfor %}
            </select>
            <select id="id_address_street" class="selectpicker" name="address_street" data-live-search="true">
                    {% for item in streets %}
                        <option value="{{ item.address_street }}" {% ifequal item.address_street street %}selected{% endifequal %}>{{ item.address_street }}</option>
                    {% endfor %}
            </select>
            <button type="submit" class="btn btn-secondary">Поиск</button>
        </div>


        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="exp" id="Radios1" value="1" {% if exp == 1 %} checked {% endif %}>
            <label class="form-check-label" for="Radios1">
                Просроченные
            </label>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="exp" id="Radios2" value="2" {% if exp == 2 %} checked {% endif %}>
            <label class="form-check-label" for="Radios2">
                < 60 дней
            </label>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="exp" id="Radios3" value="3" {% if exp == 3 %} checked {% endif %}>
            <label class="form-check-label" for="Radios3">
                Все
            </label>
        </div>
<!--        <div class="ml-4">-->
<!--            <input id="id_expiring" name="expiring" checked="checked" type="checkbox" class="form-check-input">-->
<!--            <label id="expiring_label" for="id_expiring" class="form-check-label">Срок договора истекает</label>-->
<!--        </div>-->
    </form>

    {% include 'inc/_dogovors.html' %}

</main>

{% endblock %}
{% block jsblock %}
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
{% endblock %}


