{% extends 'dogovor/base.html' %}
{% block content %}

# TODO добавить форму

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 flex-fill">
    <div class="table-responsive mt-4">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>№ договора</th>
                    <th>Ф.И.О.</th>
                    <th>Дата заключения</th>
                    <th>Населенный пункт</th>
                    <th>Дата окончания</th>
                </tr>
            </thead>
            <tbody>

            {% if dogovors %}
                {% for item in dogovors %}
                <tr>
                    <td>{{ item.number }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.address_city }}</td>
                    <td><а href="{{ dogovor.get_absolute_url }}">link</а></td>>
                    <!--<td>{{ item.end_date }}</td>-->
                </tr>
                {% endfor %}
            {% endif %}

            </tbody>
        </table>
    </div>
</main>

{% endblock %}