{% extends 'dogovor/base.html' %}
{% block title %} Поиск {% endblock %}
{% load static %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 flex-fill">
    <form action="{% url 'searchorder' %}" method="post">
    {% csrf_token %}
        <div class="form-group mt-3">
            <div class="input-group">
                <input class="form-control" placeholder="Введите запрос" type="text" name="query" required value="{{ query }}">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-secondary">Поиск</button>
                </span>
            </div>
        </div>
    </form>

    {% if orders %}
    <div class="table-responsive mt-2">
        <table class="table table-sm dogtable">
            <thead>
                <tr>
                    <th>
                        <a href="/searchorder/" class="ml-1"><img src="{% static 'images/search.png' %}" width="15px"></a>
                    </th>
                    <th></th>
                    <th>Ф.И.О.</th>
                    <th>Адрес</th>
                    <th>Дата</th>
                    <th>Контакты</th>
                    <th>Работы</th>
                    <th>Исполнитель</th>
                    <th><img src="{% static 'images/del.png' %}" width="15px"></th>
                </tr>
            </thead>
            <tbody>
            {% for item in orders %}
            <tr class="ordertr {% if item.completed %}greenbg{% endif %}">
                <td class="ordertd" data-id="{{ item.id }}">{{ item.id }}</td>
                <td><a href="#" class="btn btn-outline-secondary btn-sm btn-block py-0" onclick="orderPrint({{ item.id }});">печать</a></td>
                <td class="ordertd" data-id="{{ item.id }}">{{ item.name | truncatechars:50}}</td>
                <td class="ordertd" data-id="{{ item.id }}">{{ item.address }}</td>
                <td class="ordertd" data-id="{{ item.id }}">{{ item.date }}</td>
                <td class="ordertd" data-id="{{ item.id }}">{% if item.tel %}{{ item.tel }}{% else %}-{% endif %}</td>
                <td class="ordertd" data-id="{{ item.id }}">{{ item.job }}</td>
                <td class="ordertd" data-id="{{ item.id }}">{{ item.worker.name }}</td>
                <td><a href="#" onclick="orderDel({{ item.id }});"><img src="{% static 'images/del.png' %}" width="15px"></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        {% if query %}
            Наряд не найден
        {% endif %}
{% endif %}

</main>
{% endblock %}

{% block jsblock %}<script src="{% static 'js/main.js' %}"></script> {% endblock %}
