{% extends 'dogovor/base.html' %}
{% block title %} Изменение договора {% endblock %}
{% load static %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 flex-fill">
    <div class="container-fluid mt-3 mb-2 border rounded p-4">
        <form action="{% url 'update' dogovor_id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" id="id_id" value="{{ form.id.value }}">
            <input type="hidden" name="created_by" id="id_created_by" value="{{ user.pk }}">
            <div class="row">
                <div class="col-5">
                    <div class="form-group">
                        <input type="text" name="name" maxlength="200" id="id_name" value="{{ form.name.value }}" class="form-control" placeholder="Ф.И.О.">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" name="number" maxlength="15" id="id_number" value="{{ form.number.value }}" class="form-control" placeholder="Номер договора">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label for="id_date" class="col-2 col-form-label">от:</label>
                        <div class="col-10">
                            <input type="date" name="date" id="id_date" value="{{ form.date.value|date:'Y-m-d' }}" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group row">
                        <label for="id_end_date" class="col-sm-4 col-form-label">Действует до:</label>
                        <div class="col-sm-8">
                            <input type="date" name="end_date" id="id_end_date" value="{{ form.end_date.value|date:'Y-m-d' }}" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-check mt-2">
                         <input id="id_fiz" name="fiz" type="checkbox" {% if form.fiz.value %} checked {% endif %} class="form-check-input" onchange="fiz_change();">
                         <label id="fiz_label" for="id_fiz" class="form-check-label">{% if form.fiz.value %} Физлицо {% else %} Юрлицо {% endif %}</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend2">+7</span>
                            </div>
                            <input type="text" name="tel1" maxlength="10" value="{{ form.tel1.value }}" class="form-control" id="id_tel1" placeholder="Сотовый телефон">
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <input type="text" name="tel2" maxlength="15" id="id_tel2" value="{{ form.tel2.value }}" class="form-control" placeholder="Доп. телефон">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <input type="text" name="tel3" maxlength="100" id="id_tel3" value="{{ form.tel3.value }}" class="form-control" placeholder="Доп. телефон">
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-4">
                    <div class="form-group row">
                        <label for="id_address_city" class="col-4 col-form-label">Адрес объекта:</label>
                        <div class="col-8">
                            <input type="text" name="address_city" autocomplete="off" maxlength="100" id="id_address_city" value="{{ form.address_city.value }}" class="form-control" placeholder="Населенный пункт">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="text" name="address_street" autocomplete="off" maxlength="200" id="id_address_street" value="{{ form.address_street.value }}" class="form-control" placeholder="Улица">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <input type="text" name="address_house" maxlength="50" id="id_address_house" value="{{ form.address_house.value }}" class="form-control" placeholder="Дом">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <input type="text" name="address_kv" maxlength="10" id="id_address_kv" value="{{ form.address_kv.value }}" class="form-control" placeholder="Квартира">
                    </div>
                </div>
            </div>
            <hr>

            <div class="row mb-2">
               <div class="col-4">
                    <div class="form-group">
                        <input type="text" name="equip" maxlength="200" id="id_equip" value="{{ form.equip.value }}" class="form-control" placeholder="Оборудование">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <input type="number" name="sum" id="id_sum" value="{{ form.sum.value }}" class="form-control" placeholder="Стоимость">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group row">
                        <input type="number" name="discount" id="id_discount" value="{{ form.discount.value }}" value="0" class="form-control col-8" placeholder="Скидка">
                        <a href="#" class="btn btn-secondary col-3" onclick="onDiscount();">20%</a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <input type="number" name="amount" id="id_amount" value="{{ form.amount.value }}" class="form-control" placeholder="Итоговая сумма" oninput="calcAmount();">
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-6">
                    <div class="form-group">
                        <textarea name="comment" maxlength="500" id="id_comment" class="form-control" rows="4" placeholder="Примечание">{{ form.comment.value }}</textarea>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-check mt-2">
                         <input id="id_active" name="active" type="checkbox" {% if form.active.value %} checked {% endif %} class="form-check-input" onchange="active_change();">
                         <label id="active_label" for="id_active" class="form-check-label">{% if form.active.value %} Действующий {% else %} Расторгнут {% endif %}</label>
                    </div>
                </div>
                <div id="id_terminate_div" class="col-3 {% if form.active.value %} invisible{% endif %}">
                    <input type="date" name="terminate_date" id="id_terminate_date" value="{{ form.terminate_date.value|date:'Y-m-d' }}" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-secondary">Обновить</button>
                    <a class="btn btn-outline-secondary" href="/dogovor/{{ dogovor_id }}">Отмена</a>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}

{% block jsblock %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}