{% if dogovors %}
    {% if query or city or street %}
        <b>Найдено:</b> {{ dogovors | length }} дог.
    {% endif %}
    <div class="table-responsive mt-4">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>№ договора</th>
                    <th>Ф.И.О.</th>
                    <th>Дата заключения</th>
                    <th>Населенный пункт</th>
                    <th>Дата окончания</th>
                </tr>
            </thead>
            <tbody>
            {% for item in dogovors %}
            <tr class="dogtr {% if not item.active %}redbg{% endif %} {% if item.active and item.is_expired %}yellowbg{% endif %}" data-id="{{ item.id }}">
                <td data-id="{{ item.id }}">{{ item.number }}</td>
                <td data-id="{{ item.id }}">{{ item.name }}</td>
                <td data-id="{{ item.id }}">{{ item.date }}</td>
                <td data-id="{{ item.id }}">{{ item.address_city }}</td>
                <td data-id="{{ item.id }}">{% if item.end_date %}{{ item.end_date }}{% else %}-{% endif %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        {% if query or city or street %}
            Не найдено ни одного договора
        {% endif %}
{% endif %}