{% if dogovors %}
    {% if query or city or street or name %}
    <b>Найдено:</b> {{ count }} дог.
    {% endif %}
    <div class="table-responsive mt-4">
        <table class="table table-sm dogtable">
            <thead>
                <tr>
                    <th>№ договора</th>
                    <th>Ф.И.О.</th>
                    <th>Адрес</th>
                    <th>Действует до</th>
                    <th>Контакты</th>
                </tr>
            </thead>
            <tbody>
            {% for item in dogovors %}
            <tr class="dogtr {% if not item.active %}redbg{% endif %} {% if item.active and item.is_expired %}yellowbg{% endif %}" data-id="{{ item.id }}">
                <td data-id="{{ item.id }}">{{ item.number }} от {{ item.date | date:"d.m.Y"}}</td>
                <td data-id="{{ item.id }}">{{ item.name | truncatechars:50}}</td>
                <td data-id="{{ item.id }}">{{ item.address_city }}, {{ item.address_street }},
                    д. {{ item.address_house }}{% if item.address_kv %}, кв. {{ item.address_kv }}{% endif %}</td>
                <td data-id="{{ item.id }}">{% if item.end_date %}{{ item.end_date }}{% else %}-{% endif %}</td>
                <td data-id="{{ item.id }}">{% if item.tel1 %}{{ item.tel1 }}{% endif %}{% if item.tel2 %}  {{ item.tel2 }}{% endif %}{% if item.tel3 %}  {{ item.tel3 }}{% endif %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <span class="step-links">
                {% if dogovors.has_previous %}
                    <a href="?page=1">1</a>
                    <a href="?page={{ dogovors.previous_page_number }}"><<</a>
                    {% endif %}
                    <span class="current">
                        Страница {{ dogovors.number }} из {{ dogovors.paginator.num_pages }}
                    </span>
                    {% if dogovors.has_next %}
                    <a href="?page={{ dogovors.next_page_number }}">>></a>
                    <a href="?page={{ dogovors.paginator.num_pages }}">{{ dogovors.paginator.num_pages }}</a>
                {% endif %}
            </span>
        </div>
    </div>
    {% else %}
        {% if query or city or street %}
            Не найдено ни одного договора
        {% endif %}
{% endif %}