{% if payments %}
    <div class="mt-2">
        <b>Найдено:</b> {{ payments | length }} платежей(а) <b>На сумму: {{ summa }} руб.</b>
    </div>
    <div class="table-responsive mt-4">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Дата платежа</th>
                    <th>Номер договора</th>
                    <th>Ф.И.О.</th>
                    <th>Сумма</th>
                    <th>Нал./Безнал</th>
                    <th>Место платежа</th>
                    <th>Примечание</th>
                </tr>
            </thead>
            <tbody>
            {% if payments %}
                {% for item in payments %}
                <tr class="paytr {% if not item.pay_type %}darkbg{% endif %}" data-id="{{ item.id }}">
                    <td data-id="{{ item.id }}">{{ item.date }}</td>
                    <td data-id="{{ item.id }}">{{ item.dogovor_id.number }}</td>
                    <td data-id="{{ item.id }}">{{ item.dogovor_id.name }}</td>
                    <td data-id="{{ item.id }}">{{ item.amount }}</td>
                    <td data-id="{{ item.id }}">{% if item.pay_type %}Наличные{% else %}Безнал.{% endif %}</td>
                    <td data-id="{{ item.id }}">{{ item.pay_place }}</td>
                    <td data-id="{{ item.id }}">{% if item.comment %}{{ item.comment }}{% else %}-{% endif %}</td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% else %}
    {% if query or name or start_date or end_date or number %}Не найдено ни одного платежа{% endif %}
{% endif %}
