{% load static %}
{% block content %}
<main class="ms-sm-auto px-md-1 p-1 col-10 ml-2 bt-2">
    <b>{{ data }}</b><br>
        <table class="plantable">
            <tbody>
            <tr>
            {% for item in orders %}
                <td>
                    {{ item.name }}<br><hr>
                    {{ item.address }}<br><hr>
                    <b>{{ item.job }}</b><br><hr>

                </td>

                {% if not forloop.last and forloop.counter|divisibleby:"7" %}
                </tr>
                <tr>
                {% endif %}

            {% endfor %}
            </tr>
            </tbody>
        </table>
</main>
{% endblock %}